* {
   /* border: 1px solid red !important;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*{
	font-family: 'Lato', sans-serif;
}
.grid {
    margin: 0 auto 70px auto;
    max-width: 950px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media screen and (max-width: 300px) {

}
h1,h2,h3{
	color: #BCBBBB;
}
.align-right{
	text-align: right;
}

.align-center{
	text-align: center;	
}

.header{
	border-bottom: 3px solid #BCBBBB;
	padding: 10px 0px 10px 0px;
}

.logo-image{
	border-radius: 50%;
	border: 10px solid #F8981C;
}

.full-name-header{
	margin-bottom: 0px;
	font-size: 50px;
	font-weight: 300;
}
.job-title-header{
	font-weight: 400;
	font-size: 20px;
	margin-top: 0px;
	
}
.featured-work-title{
	font-size: 37px;
    margin-left: 20px;
    font-weight: 400;
}
.project-name{
	color: #747704;
	margin: 10px 0px 10px 0px;
	font-weight: 700;
	font-size: 35px;
}
.project-url{
	display: block;
	color: #747704;
	text-decoration: none;
	font-weight: 400;
	font-size: 15px;
}

